body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #F8F8F8;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  float: left;
  margin-left: 30px;
  width: 450px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#loginbox
{
  z-index: -1;
  background-color: white;
  margin-top: 100px;
  border: solid;
  border-width: 1px;
  border-radius: 6px;
  border-color: #B0B0B0;
  height: 300px;
}


#signupbox
{
  float: right;
  margin-right: 400px;
  margin-top: 10px;
}

#signup-btn-div
{
  position: fixed;
  margin-top: 65px;
  overflow:auto;
}

#signup-btn
{
}
